name: Build GH Page

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - 'otterdog/*.jsonnet'
      - 'otterdog/*.json'
      - 'docs/**'
      - 'mkdocs.yml'
      - '.github/workflows/build-page.yml'

concurrency:
  group: "pages"
  cancel-in-progress: false

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  generate-markdown:
    # do not run the workflow in the template repo itself
    if: ${{ !contains (github.repository, '/.eclipsefdn-template') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout OtterDog
        run: git clone https://gitlab.eclipse.org/eclipsefdn/security/otterdog.git

      - name: Checkout EclipseFdn/otterdog-configs
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          repository: EclipseFdn/otterdog-configs
          path: otterdog-configs

      # checkout the HEAD ref
      - name: Checkout HEAD
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
        with:
          path: ${{ github.repository_owner }}

      - name: Install jsonnet-bundler
        run: |
          go install -a github.com/jsonnet-bundler/jsonnet-bundler/cmd/jb@v0.5.1
          echo $(go env GOPATH)/bin >> $GITHUB_PATH

      - name: Install poetry
        run: pipx install poetry

      - name: Setup Python
        uses: actions/setup-python@61a6322f88396a6271a6ee3565807d608ecaddd1 # v4.7.0
        with:
          python-version: '3.10'
          cache: 'poetry'

      - name: Install dependencies with poetry
        run: |
          poetry install --only=main
        working-directory: otterdog

      - name: Copy configuration from HEAD ref
        run: |
          mkdir -p orgs/${{ github.repository_owner }}
          cp -r ../${{ github.repository_owner }}/otterdog/* orgs/${{ github.repository_owner }}
        working-directory: otterdog-configs

      - name: Generate current configuration as markdown
        run: ../otterdog/otterdog.sh show ${{ github.repository_owner }} -c otterdog.json --markdown --output-dir generated-site
        working-directory: otterdog-configs

      - name: Generate default configuration as markdown
        run: ../otterdog/otterdog.sh show-default ${{ github.repository_owner }} -c otterdog.json --markdown > default.txt
        working-directory: otterdog-configs

      - name: Upload generated site content
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3
        with:
          name: generated-site
          path: |
            otterdog-configs/default.txt
            otterdog-configs/orgs/${{ github.repository_owner }}/vendor/otterdog-defaults/*.libsonnet
            otterdog-configs/generated-site/

  build-page:
    runs-on: ubuntu-latest
    needs: generate-markdown
    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v3
      - name: Download generated site content
        uses: actions/download-artifact@9bc31d5ccc31df68ecc42ccf4149144866c47d8a # v3
        with:
          name: generated-site
      - shell: bash
        run: |
          cat default.txt >> ./docs/playground.md
          cp generated-site/*.md ./docs/
          cp orgs/${{ github.repository_owner }}/vendor/otterdog-defaults/*.libsonnet ./docs/jsonnet/
      - uses: actions/setup-python@61a6322f88396a6271a6ee3565807d608ecaddd1 # v4
        with:
          python-version: 3.x
          cache: 'pip'
      - run: pip install -r requirements.txt
      - name: Build with Mkdocs
        run: mkdocs build
      - name: Setup Pages
        uses: actions/configure-pages@f156874f8191504dae5b037505266ed5dda6c382 # v3
      - name: Upload artifact
        uses: actions/upload-pages-artifact@a753861a5debcf57bf8b404356158c8e1e33150c # v1

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build-page
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@9dbe3824824f8a1377b8e298bafde1a50ede43e5 # pin@v2
